.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#display {
  margin: 1rem auto;
  width: 60%;
  height: 3rem;
  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: 25px;
}

h3 {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
}

h4 {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
}

img {
  width: 180px;
  border-radius: 25px;
  margin: 1rem 2rem;
  outline: 1px solid aquamarine;
}

.theChoice {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  text-align: center;
}
/* /////////////////// */
#shadowMan {
  color: #2c9cfe;
}
button {
  background-color: #2c9cfe;
  color: white;
}
#snakeMan {
  color: #77e510;
}
#snakeMan button {
  background-color: #77e510;
  color: white;
}
#magnetMan {
  color: #cb5343;
}
#magnetMan button {
  background-color: #cb5343;
  color: white;
}
#sparkMan {
  color: #ff7b5c;
}
#sparkMan button {
  background-color: #ff7b5c;
  color: white;
}
#shadowMan button:hover,
#snakeMan button:hover,
#magnetMan button:hover,
#sparkMan button:hover {
  color: black;
  background-color: lightcyan;
}

/* /////////////////// */
#shadowMan,
#sparkMan,
#snakeMan,
#magnetMan {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  border: 1px solid aquamarine;
  text-align: center;
  background-color: #3c4350a4;
  border-radius: 25px;
}

.theChoice button {
  width: 6rem;
  height: 6rem;
  margin: 3rem;
  border-radius: 25px;
  border: 1px solid aquamarine;
}

#shadowMan h4,
#magnetMan h4,
#snakeMan h4,
#sparkMan h4 {
  padding: 0;
  margin: 0;
}

.theChoice h2 {
  margin: 1rem;
}

#reset {
  background-color: red;
  border-radius: 25px;
  padding: 0.5rem;
  color: white;
}

#info {
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 70vh;
  border-radius: 25px;
}

#infoLeft,
#infoRight {
  margin: 0 1rem;
}

#displayInfo {
  margin: 1rem auto;
  width: 100%;
  background-color: #3c4350a4;
  color: white;
  border-radius: 25px;
  overflow: scroll;
  box-sizing: border-box;
  overflow-x: hidden;
}

#vs {
  color: red;
}
#robot {
  color: aquamarine;
}

#battleLog {
  width: 100%;
  height: 50%;
}

#missed {
  color: #cb5343;
}

#damage,
#enemy {
  color: red;
}

#shadowManLog {
  color: #2c9cfe;
}

#heal {
  color: #77e510;
}
#infoTurn {
  font-size: 1.2rem;
  color: lightcoral;
  margin: 0;
  padding: 0;
}

#heyBro {
  display: flex;
  justify-content: flex-end;
  color: aquamarine;
  font-size: 1.5rem;
}
#heyBro a {
  padding: 0 1rem;
  color: white;
}

.healButton,
.standardAttack,
.shadowBlades {
  border-radius: 25px;
  padding: 1rem;
}
.healButton {
  background-color: #23d5ab;
}
.standardAttack {
  background-color: lightcoral;
}

.shadowBlades {
  background-color: #2c9cfe;
}

#totalH1 {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 800px) {
  .App {
    display: flex;
    flex-direction: column;
  }

  .theChoice {
    display: flex;
    flex-direction: column;
  }

  #shadowMan,
  #sparkMan,
  #snakeMan,
  #magnetMan {
    display: flex;
    flex-direction: column;
  }
}
